[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
minimalmodbus = "*"
django = "*"
cherrypy = "*"
requests = "*"
cheroot = "*"

[dev-packages]

[requires]
python_version = "3.7"
