{% extends 'oversight/page.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h3>Comparing sensor data for:</h3>
    <ul>
    {% for sensor in sensors %}
      <li>{{ sensor.name }}</li>
    {% endfor %}
    </ul>
    <div id="chart" style="width:900px; height:700px;" data-url="{{ request.get_full_path|safe }}&format=json"><h3>Retrieving data…</h3></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script language="javascript" type="text/javascript" src="{% static 'jqplot/jquery.jqplot.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.dateAxisRenderer.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.logAxisRenderer.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.canvasTextRenderer.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.categoryAxisRenderer.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'oversight/js/oversight.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jqplot/jquery.jqplot.css' %}" />
{% endblock scripts %}
