{% extends 'oversight/page.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h3>Details for {{ sensor.name }}</h3>
    <p>Last updated {{ sensor_data.0.datetime }}</p>
    <table>
      <thead>
        <tr>
          <th>sensor value</th>
          <th>time</th>
        </tr>
      </thead>
      <tbody>
      {% for log in sensor_data %}
        <tr>
          <td>{{ log.value }} {{ sensor.unit }}</td>
          <td>{{ log.datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% if user.is_authenticated %}
    <form method="post">
      {% csrf_token %}
      <div class="row"> <!-- foundation is weird -->
        <div class="small-12 columns">
          <div class="row collapse postfix-round">
            <div class="small-4 columns">
              {{ export_form.export_since }}
            </div>
            <div class="small-2 columns end">
              <input type="submit" value="Export" class="button postfix"/>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% endif %}
    <div id="chart" style="width:900px; height:700px;" data-url="{% url 'oversight_sensor_compare' %}" data-sensors="{{ sensor_ids_json }}"><h3>Retrieving data…</h3></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script language="javascript" type="text/javascript" src="{% static 'jqplot/jquery.jqplot.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.dateAxisRenderer.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.logAxisRenderer.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.canvasTextRenderer.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'jqplot/plugins/jqplot.categoryAxisRenderer.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'oversight/js/oversight.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jqplot/jquery.jqplot.css' %}" />
{% endblock scripts %}
