{% extends 'oversight/page.html' %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h3>Details for {{ sensor.name }}</h3>
    <p>Last updated {{ sensor_data.0.datetime }}</p>
    <table>
      <thead>
        <tr>
          <th>sensor value</th>
          <th>time</th>
        </tr>
      </thead>
      <tbody>
      {% for log in sensor_data %}
        <tr>
          <td>{{ log.value }} {{ sensor.unit }}</td>
          <td>{{ log.datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
