{% extends 'oversight/page.html' %}

{% block content %}
{{ block.super }}
<div class="row">
  <div class="small-12 columns">

    <h3>Oversight @ {% now "SHORT_DATETIME_FORMAT" %}
    {% if user.is_authenticated %}
      <form class="right" action="{% url 'oversight_toggle_logging' %}" method="post">
        {% csrf_token %}
        <input type="submit" class="button secondary tiny round" value="Toggle logging" />
      </form>
    {% endif %}
    </h3>

    {% if messages %}
      {% for message in messages %}
        <div data-alert class="alert-box round {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <form action="{% url 'oversight_sensor_compare' %}">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>sensor name</th>
            <th>sensor value</th>
            <th>last update</th>
          </tr>
        </thead>
        <tbody>
        {% for sensor in sensor_data %}
          <tr>
            <td><input type="checkbox" name="sensor" value="{{ sensor.api_endpoint }}"/></td>
            <td><a href="{% url 'oversight_sensor_detail' sensor.api_endpoint %}">{{ sensor.name }}</a></td>
            <td>{{ sensor.current_log.value }} {{ sensor.unit }}</td>
            <td {% if sensor.frozen %}class="frozen"{% endif %}>{{ sensor.current_log.datetime|date:"SHORT_DATETIME_FORMAT" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <input type="submit" class="button tiny round" value="Compare sensors"/>
    </form>
  </div>
</div>
{% endblock %}

{% block head %}
  <meta http-equiv="refresh" content="60">
{% endblock head %}
